/**
 * Mixins
 */
@import '01-mixins';

/**
 * Defines some global layout variables (background-color, text-color, etc...)
 * Change values to change the general look of the application
 */
@import 'configuration';

/**
 * Class helpers (.small, .big for font sizes, .btn, etc..)
 */
@import '02-commons';

/**
 * Services styles.
 */
@import '03-services';

/**
 * Entry point for application specific styling and overriding.
 */
@import 'overrides';
