/* =======================================================
 * GENERAL
 * ======================================================= */

// @todo - include css3 mixin from compass ?
$backgroundColor: $black;
$foregroundColor: $white;
$textColor: rgba(255, 255, 255, 0.9);

// MIXINS
// ------------------------------------------------------------
@mixin keyframes($animation-name) {   // ?
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin transition($str) {
  -webkit-transition: $str;
     -moz-transition: $str;
      -ms-transition: $str;
       -o-transition: $str;
          transition: $str;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
     -moz-animation: #{$str};
      -ms-animation: #{$str};
       -o-animation: #{$str};
          animation: #{$str};
}

// KEYFRAMES
// ------------------------------------------------------------
// create the soft blink animation from keyframe mixin
@include keyframes(soft-blink) {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; }
}


// GENERAL
// ------------------------------------------------------------
html, body {
  height: 100%;
}

body {
  background-color: $backgroundColor;
  font-family: 'Quicksand', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 62.5%;
  line-height: normal;
}

* {
  color: $textColor;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.container {
  // min-height: 100%;
  position: relative;
}

@each $value in $color-list {
  &.#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
}

.module {
  // background-color: $backgroundColor;
  // height: 100%;
  // left: 0;
  // position: absolute;
  // top: 0;
  // width: 100%;
  // position: fixed;
  // top: 0;
}

// .hidden {
//   display: none !important;
//   visibility: hidden;
// }

// ------------------------------------------------------------
// Simplified styles
// ------------------------------------------------------------

// ------------------------------------------------------------
// GENERAL
// ------------------------------------------------------------
p {
  margin: 0 !important;
  padding: 0 !important;
}

// font-size
.huge {
  font-size: 3rem;
}

.big {
  font-size: 2rem;
}

p, .normal {
  font-size: 1.5rem;
}

.small {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

// common elements
.btn {
  background-color: $backgroundColor;
  border: 1px solid $textColor;
  border-radius: 4px;
  color: $textColor;
  padding: 6px 0;
  font-size: 1rem;
  display: block;
  @include transition(background-color 50ms);
  letter-spacing: 0.05em;

  &:active {
    background-color: $textColor;
  }

  &:focus {
    outline: none;
  }

  &.unselected, &.disabled {
    opacity: 0.5;
  }

  &.selected {
    opacity: 1;
  }
}

// helpers
.landscape .portrait-only { display: none; }
.landscape br.portrait-only {
  content: ' ';
  display: inline;
  &:after { content: ' '; }
}

.soft-blink {
  @include animation('soft-blink 3.6s ease-in-out infinite');
}

// ------------------------------------------------------------
// DEFAULT MULTIPART TEMPLATE
// ------------------------------------------------------------

// .section-top { background-color: green; }
// .section-center { background-color: blue; }
// .section-bottom { background-color: yellow; }

.flex-center {
  box-sizing: border-box;
  padding: 10px;
  display: flex;

  & > * {
    text-align: center;
    flex-basis: 100%;
    width: 100%;
  }
}

.flex-middle {
  @extend .flex-center;
  align-items: center;
}



// ------------------------------------------------------------
// SPACE VIEW
// ------------------------------------------------------------

.space {
  svg {
    overflow: hidden;
    // outline: 1px solid $foregroundColor;
  }

  .position {
    // fill: yellow;
    fill: $foregroundColor;

    &.selected {
      fill: steelblue
    }
  }
}

.selector {
  .btn {
    width: 90%;
    margin: 5%;
  }
}

.select {
  color: $backgroundColor;
  background-color: $foregroundColor;
  font-size: 1.3rem;
  line-height: 3rem;
  height: 3rem;
  flex-basis: 90%;
  margin: 0 auto;
}


