/* =======================================================
 * LOADER
 * ======================================================= */

// => ok

#loader {
  $progressBarHeight: 10px;

  .progress-wrap {
    margin: 12px auto 0;
    border: solid 1px white;
    border-radius: 5px;
    height: $progressBarHeight;
    overflow: hidden;
    flex-basis: 80%;
  }
  .progress-bar {
    background-color: white;
    height: $progressBarHeight;
    width: 0; // is updated from javascript
  }
}
