/* =======================================================
 * DROPS PERFORMANCE
 * ======================================================= */

.performance {
  .text {
    color: rgba($white, 0.3);
    font-weight: normal;
    position: absolute;
    width: 100%;
    .big {
      font-size: 2em;
      font-weight: bold;
      margin: 0.4em 0;
    }
    .listen {
      font-size: 1.4em;
    }
  }
  .scene {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}