doctype
html
  head
    title #{title}
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/boilerplate.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #{title}
    script(src="/javascripts/admin.js")
    #admin.admin
      | drops: 
      button(id='drops-decr') <
      | 
      input(id='drops-box', type='number', value='0', min='0', max='100', step='1', size='2')
      | 
      button(id='drops-incr') >
