doctype
html
  head
    title #{title}
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/boilerplate.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title}
    script(src="/javascripts/env.js")