/* =======================================================
 * RESET
 * ======================================================= */
/**
 * The code in this file is inspired by:
 *   http://meyerweb.com/eric/tools/css/reset/ 
 *   v2.0 | 20110126
 *   License: none (public domain)
 */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, button, input, option, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

/* =======================================================
 * FONTS
 * ======================================================= */
@font-face {
  font-family: "Quicksand";
  font-weight: 100;
  src: url("../fonts/Quicksand-Light.ttf") format('truetype'); }

@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("../fonts/Quicksand-Regular.ttf") format('truetype'); }

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("../fonts/Quicksand-Bold.ttf") format('truetype'); }

/* =======================================================
 * COLORS
 * ======================================================= */
/**
 * These color swatches were inspired by the swatches
 * found in Flat UI, by designmodo.
 * http://designmodo.com/flat-free/
 */
/* =======================================================
 * GENERAL
 * ======================================================= */
@-webkit-keyframes soft-blink {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1.0; } }

@-moz-keyframes soft-blink {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1.0; } }

@-ms-keyframes soft-blink {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1.0; } }

@-o-keyframes soft-blink {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1.0; } }

@keyframes soft-blink {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.3; }

  100% {
    opacity: 1.0; } }

html, body {
  height: 100%; }

body {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Quicksand', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 2rem;
  line-height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.container {
  min-height: 100%;
  position: relative; }

.module {
  background-color: #000000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .module.turquoise {
    background-color: #1abc9c; }
  .module.green-sea {
    background-color: #16a085; }
  .module.emerald {
    background-color: #2ecc71; }
  .module.nephritis {
    background-color: #27ae60; }
  .module.peter-river {
    background-color: #3498db; }
  .module.belize-hole {
    background-color: #2980b9; }
  .module.amethyst {
    background-color: #9b59b6; }
  .module.wisteria {
    background-color: #8e44ad; }
  .module.wet-asphalt {
    background-color: #34495e; }
  .module.midnight-blue {
    background-color: #2c3e50; }
  .module.sun-flower {
    background-color: #f1c40f; }
  .module.orange {
    background-color: #f39c12; }
  .module.carrot {
    background-color: #e67e22; }
  .module.pumpkin {
    background-color: #d35400; }
  .module.alizarin {
    background-color: #e74c3c; }
  .module.pomegranate {
    background-color: #c0392b; }
  .module.clouds {
    background-color: #ecf0f1; }
  .module.silver {
    background-color: #bdc3c7; }
  .module.concrete {
    background-color: #95a5a6; }
  .module.asbestos {
    background-color: #7f8c8d; }
  .module.black {
    background-color: #000000; }
  .module.white {
    background-color: #ffffff; }
  .module .centered-content {
    width: 80%;
    margin: 15% auto;
    text-align: center; }
  .module p {
    margin-bottom: 1rem;
    line-height: 2.5rem; }
  .module small {
    font-size: 1rem;
    line-height: 1.2rem; }

.soft-blink {
  -webkit-animation: soft-blink 3.6s ease-in-out infinite;
  -moz-animation: soft-blink 3.6s ease-in-out infinite;
  -ms-animation: soft-blink 3.6s ease-in-out infinite;
  -o-animation: soft-blink 3.6s ease-in-out infinite;
  animation: soft-blink 3.6s ease-in-out infinite; }

.hidden {
  display: none !important;
  visibility: hidden; }

/* =======================================================
 * LOADER
 * ======================================================= */
.loader .loading-text {
  -webkit-animation: soft-blink 3.8s ease-in-out infinite;
  -moz-animation: soft-blink 3.8s ease-in-out infinite;
  -ms-animation: soft-blink 3.8s ease-in-out infinite;
  -o-animation: soft-blink 3.8s ease-in-out infinite;
  animation: soft-blink 3.8s ease-in-out infinite; }
.loader .progress-wrap {
  border: solid 3px white;
  border-radius: 8px;
  margin: 0.75em auto; }
.loader .progress-bar {
  background-color: white;
  height: 10px;
  width: 0%; }

/* =======================================================
 * DROPS PERFORMANCE
 * ======================================================= */
.performance .text {
  position: absolute;
  font-weight: normal;
  width: 100%; }
  .performance .text .big {
    font-size: 2em;
    font-weight: bold;
    margin: 0.4em 0; }
  .performance .text .listen {
    font-size: 1.4em; }
.performance .scene {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
