/* ==========================================================================
 * Fonts
 * ========================================================================== */

@font-face {
    font-family: 'Quicksand';
    font-weight: 100;
    src: url('../fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
}


/* ==========================================================================
 * Elements
 * ========================================================================== */

body {
  background-color: black;
  color: #fff;
  font-family: 'Quicksand', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 20px;
  letter-spacing: -0.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;  
  text-align: center;
}

#grid {
  display: block;
  position: relative;
}

.welcome {
  background: #000;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
  line-height: 1.2em;
}

.setup {
  background: #000;
  height: 100%;
  width: 100%;
  font-size: 4em;
  text-align: center;
}

.setup .small {
  font-size: 0.5em;
  margin: 2em 0;
}

.sync {
  background: #000;
  height: 100%;
  width: 75%;
  padding-top: 30%;
  margin: 0 auto;
}

.placement .position.circle {
  position: fixed;
  background-color: #428BCA;
  border-radius: 50%;
  display: block;
  font-size: 3em;
  font-weight: 700;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  text-align: center;
  width: 2em;
}

.performance {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #444;
  padding-top: 10%;
}

.performance p {
  font-size: 5em;
  font-weight: bold;
  margin: 0em;
}

.performance .big {
  font-size: 10em;
  font-weight: bold;
}

.performance .medium {
  font-size: 6em;
  font-weight: bold;
}

.button {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
}

.admin {
  height: 100%;
  width: 90%;
  color: #fff;
  text-align: center;
  font-size: 4em;
  margin: 0 auto;
}

.admin input {
  text-align: center;
  background-color: #000;
  border: 0;
  padding: 0
}

.admin button {
  text-align: center;
  background-color: #000;
  border: 0;
  padding: 0 0 0 0;
}

.admin select {
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 0;
  padding: 0
}

.admin option {
  color: #fff;
  background-color: #000;
}
